pom.xml*
.lein*
.nrepl-port
*.jar
*.class
.env
.DS_Store
/lib/
/classes/
/target/
/checkouts/
/logs/
/docs/
/doc/
.idea/
*.iml
cljs-example/main.js
cljs-example/out/
cljs-example/.cpcache/
/wiki/.git
